.popup{
    background-color: white;
    border-radius: 8px;
    &__container{
        height: 100%;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        overflow: scroll;
    }
}